{% extends 'MI_data/base.html' %}
{% load render_table from django_tables2 %}



{% block content %}
<nav class="navbar"; style="background-color: #FFFFFF";>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"; style="color:#005EB8";>
            <a style="color:#000000">Patient: </a>
            <a>{{ sample.name_fullname }}&nbsp&nbsp;</a>
            <a style="color:#000000">Ordno: </a>
            <a>{{ sample.ordno }}&nbsp&nbsp;</a>
            <a style="color:#000000">Team: </a>
            <a>{{ sample.team }}&nbsp&nbsp;</a>
            <a style="color:#000000">Investigation: </a>
            <a>{{ sample.disease }}&nbsp&nbsp;</a>
            <a style="color:#000000">Profile: </a>
            <a>{{ sample.profile }}&nbsp&nbsp;</a>
            <a style="color:#000000">Urgent: </a>
            <a>{{ sample.urg }}&nbsp&nbsp;</a>
        </li>
    </ul>
</nav>

{% endblock %}
